*{
    margin: 0px;
    padding: 0px;

}
  .container-fluid{
        color: white;
        font-size: 25px;
       
  }

  .navbar-brand{
    font-size: 35px;
  }


 .navbar-collapse{
    position: relative;
    left: 600px;
 } 

.navbar {
    display: flex;
    justify-content: space-between;
   
}
.container-fluid{
    color:black;
    font-size: 25px;
}


.first{
    font-weight: bolder;
    height: 690px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 10%;
    flex-wrap: wrap;
}

.sat {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  

}

.para{
    margin-top: 0px;
    margin-left: 700px;
    padding: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

.para1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.sat img{

   width: 90%;
   height: 570px;
   object-fit: cover;
   position: relative;
   top: 163px;
   right: 400px;
   border-radius: 5%;

}

.folio {
   
    font-size: 3em; /* Adjust to your preference */
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif, 'Open Sans', sans-serif;
    position:relative;
    left: 300px;
    bottom: 60px;
}

.subh2 {
    bottom: 60px;
    font-weight: 200px;
    font-size: 6em; /* Adjust to your preference */
    font-family: 'Open Sans', sans-serif, 'Source Serif 4', serif;
    position:relative;
    left: 300px;
}
.second {
    font-weight: bolder;
    background-color:#B6BBC4;
    max-width:  1600px;
    height: 750px;
    display: grid;
    object-fit: cover;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 0%;
}
.img2 ,.img3,.img4 {
    flex: 1;
    max-width: 100%;
    height: auto;
}
.topack1{
    padding-left: 10%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.topack2{
    padding-left: 8%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.head{
    font-size: '1rem';
    
}
.head1 ,.head2, .head3 {
    flex: 1;
    margin: 0 10px ;
}

.subh3,.subh4,.subh5{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', serif;
}
 p{
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif; 
}  
.third{
    font-weight: bolder;
    background-color: #CCC8AA;
    height: 700px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 0%;
}


 .personal1 ,.personal2 ,.personal3{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', serif;
}

.hand{
   position: relative;
   left: 40%;
   top: 30px;
}

.hand1,.hand2,.hand3{
    padding-top: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', serif;
}

.container{
    border-radius: 0%;
    background-image: url(./3624.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    padding: 60px;
    font-size: 20px;
}

.forth{
    width: 100%;
    height: 700px; 
    background-color: darksalmon;
    display: grid;
    grid-template-columns: 440px 400px;
    grid-template-rows: 500px ;
    gap: 500px;
    padding: 100px;
    
}
.forth1{

    font-size: 35px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.forth2{
    position: relative;
    right: 80px;
    width: 100%;
    height: 500px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 7%;
    
}


@media screen and (max-width: 800px){
    .first {
      background-image: url(./WhatsApp\ Image\ 2024-01-13\ at\ 20.46.12_c4832f4f.jpg);
      color: white;
        
     font-size: 16px;  /* Adjust to your preference */
    }


   .folio , .subh2{
        position: relative;
        left: 79px;
        top: 100px;       
   } 



    .second,.third {
        text-align: center;
        font-size: 16px !important;
     }
     .hand{display: block;
        position: relative;
        right: 00px;

     }

     .second{
        display: grid;
        grid-template-columns: 1fr;
        height: 1250px;
     }
     .topack1{
        gap: 30px;
        display: grid;
        grid-template-columns: 1 fr;
        height: fit-content;
     }
     #home > p{

        text-align: center;
        position: relative;
        right: 50%;
     }
     .hand1,.hand2,.hand3{
        padding-left: 10%;
     }

     .topack2{
        display: grid;
        grid-template-columns: 1 fr;
        height: fit-content;
        font-weight: bolder;
     }
     .third{
        font-weight: bolder;
        display: grid;
        grid-template-columns: 1 fr; 
        height: fit-content; 
     }
     .container{
        display: grid;
        grid-template-columns: 1 fr;
        height: 800px;
     }


     .forth{
        display: grid;
        grid-template-rows: 500px 700px;
        height: 1350px;
        width: 100%;
        gap: 100px;
     }
     .forth1{
        
        font-size: 30px;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 0%;
        
     }
     .forth2{
        position: relative;
        right: 620px;
        bottom: 60px;
        grid-row-start: 1;
        grid-row-end: 2;
     }
}